In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:
# File to Load 
school_data_to_load = ("C:\\Users\\jwhit\\Desktop\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv")
student_data_to_load = ("C:\\Users\\jwhit\\Desktop\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv")

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Calculate the total number of unique schools
school_count = school_data["School ID"].count()
school_count

15

In [6]:
# Calculate the total number of students
student_count = student_data["Student ID"].count()
student_count

39170

In [7]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
summary = {
    "Number of Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Math Pass Rate": [passing_math_percentage],
    "Reading Pass Rate": [passing_reading_percentage],
    "Overall Pass Rate": [overall_passing_rate]

}

district_summary = pd.DataFrame(summary)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary ["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary ["Average Reading Score"].map("{:,.2f}".format)
district_summary["Math Pass Rate"] = district_summary ["Math Pass Rate"].map("{:,.2f}%".format)
district_summary["Reading Pass Rate"] = district_summary ["Reading Pass Rate"].map("{:,.2f}%".format)
district_summary["Overall Pass Rate"] = district_summary ["Overall Pass Rate"].map("{:,.2f}%".format)

# Display the DataFrame
district_summary

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [14]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [16]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = school_data.set_index(["school_name"])["budget"]/school_data.set_index(["school_name"])["size"]
per_school_budget, per_school_capita

(school_name
 Huang High School        1910635
 Figueroa High School     1884411
 Shelton High School      1056600
 Hernandez High School    3022020
 Griffin High School       917500
 Wilson High School       1319574
 Cabrera High School      1081356
 Bailey High School       3124928
 Holden High School        248087
 Pena High School          585858
 Wright High School       1049400
 Rodriguez High School    2547363
 Johnson High School      3094650
 Ford High School         1763916
 Thomas High School       1043130
 Name: budget, dtype: int64,
 school_name
 Huang High School        655.0
 Figueroa High School     639.0
 Shelton High School      600.0
 Hernandez High School    652.0
 Griffin High School      625.0
 Wilson High School       578.0
 Cabrera High School      582.0
 Bailey High School       628.0
 Holden High School       581.0
 Pena High School         609.0
 Wright High School       583.0
 Rodriguez High School    637.0
 Johnson High School      650.0
 Ford High School         644.0
 Thomas High School       638.0
 dtype: float64)

In [17]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()
per_school_math, per_school_reading

(school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64,
 school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64)

In [18]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete["math_score"] >= 70
school_data_complete["students_passing_math"] = school_data_complete["math_score"] >= 70
school_students_passing_math = school_data_complete.groupby("school_name")["students_passing_math"].sum()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: students_passing_math, dtype: int64

In [19]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete["reading_score"] >= 70
school_data_complete["students_passing_reading"] = school_data_complete["reading_score"] >= 70
school_students_passing_reading = school_data_complete.groupby("school_name")["students_passing_reading"].sum()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: students_passing_reading, dtype: int64

In [20]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
school_data_complete["students_passing_math_and_reading"] = (
    (school_data_complete["reading_score"] >= 70) & 
    (school_data_complete["math_score"] >= 70)
)
school_students_passing_math_and_reading = school_data_complete.groupby("school_name")["students_passing_math_and_reading"].sum()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: students_passing_math_and_reading, dtype: int64

In [21]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

per_school_passing_math, per_school_passing_reading, overall_passing_rate

(school_name
 Bailey High School       66.680064
 Cabrera High School      94.133477
 Figueroa High School     65.988471
 Ford High School         68.309602
 Griffin High School      93.392371
 Hernandez High School    66.752967
 Holden High School       92.505855
 Huang High School        65.683922
 Johnson High School      66.057551
 Pena High School         94.594595
 Rodriguez High School    66.366592
 Shelton High School      93.867121
 Thomas High School       93.272171
 Wilson High School       93.867718
 Wright High School       93.333333
 dtype: float64,
 school_name
 Bailey High School       81.933280
 Cabrera High School      97.039828
 Figueroa High School     80.739234
 Ford High School         79.299014
 Griffin High School      97.138965
 Hernandez High School    80.862999
 Holden High School       96.252927
 Huang High School        81.316421
 Johnson High School      81.222432
 Pena High School         95.945946
 Rodriguez High School    80.220055
 Shelton High School      95.854628
 Thomas High School       97.308869
 Wilson High School       96.539641
 Wright High School       96.611111
 dtype: float64,
 school_name
 Bailey High School       54.642283
 Cabrera High School      91.334769
 Figueroa High School     53.204476
 Ford High School         54.289887
 Griffin High School      90.599455
 Hernandez High School    53.527508
 Holden High School       89.227166
 Huang High School        53.513884
 Johnson High School      53.539172
 Pena High School         90.540541
 Rodriguez High School    52.988247
 Shelton High School      89.892107
 Thomas High School       90.948012
 Wilson High School       90.582567
 Wright High School       90.333333
 dtype: float64)

In [22]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = {
    "School Type": school_types,
    "Student Count": per_school_counts,
    "Per Capita Spending": per_school_capita,
    "Average Math Test Score": per_school_math,
    "Average Reading Test Score": per_school_reading,
    "Pass Rate Math": per_school_passing_math,
    "Pass Rate Reading": per_school_passing_reading,
    "Overall Pass Rate": overall_passing_rate
}
per_school_summary_df = pd.DataFrame(per_school_summary)

per_school_summary_df["Per Capita Spending"] = pd.to_numeric(per_school_summary_df['Per Capita Spending'], errors='coerce')


per_school_summary_df["Average Math Test Score"] = per_school_summary["Average Math Test Score"].map("{:,.2f}%".format)
per_school_summary_df["Average Reading Test Score"] = per_school_summary["Average Reading Test Score"].map("{:,.2f}%".format)
per_school_summary_df["Pass Rate Math"] = per_school_summary["Pass Rate Math"].map("{:,.2f}%".format)
per_school_summary_df["Pass Rate Reading"] = per_school_summary["Pass Rate Reading"].map("{:,.2f}%".format)
per_school_summary_df["Overall Pass Rate"] = per_school_summary["Overall Pass Rate"].map("{:,.2f}%".format)

per_school_summary_df

,School Type,Student Count,Per Capita Spending,Average Math Test Score,Average Reading Test Score,Pass Rate Math,Pass Rate Reading,Overall Pass Rate
school_name,,,,,,,,
Bailey High School,District,4976,628.0,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,582.0,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,2949,639.0,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,2739,644.0,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,625.0,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,4635,652.0,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,581.0,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,2917,655.0,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,4761,650.0,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,609.0,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,637.0,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,600.0,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,638.0,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,578.0,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,1800,583.0,83.68%,83.95%,93.33%,96.61%,90.33%

In [23]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary_df.sort_values(by="Overall Pass Rate", ascending = False)
top_schools.head(5)

,School Type,Student Count,Per Capita Spending,Average Math Test Score,Average Reading Test Score,Pass Rate Math,Pass Rate Reading,Overall Pass Rate
school_name,,,,,,,,
Cabrera High School,Charter,1858,582.0,83.06%,83.98%,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,638.0,83.42%,83.85%,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,625.0,83.35%,83.82%,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,578.0,83.27%,83.99%,93.87%,96.54%,90.58%
Pena High School,Charter,962,609.0,83.84%,84.04%,94.59%,95.95%,90.54%

In [24]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary_df.sort_values(by="Overall Pass Rate")
bottom_schools.head(5)

,School Type,Student Count,Per Capita Spending,Average Math Test Score,Average Reading Test Score,Pass Rate Math,Pass Rate Reading,Overall Pass Rate
school_name,,,,,,,,
Rodriguez High School,District,3999,637.0,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,District,2949,639.0,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,District,2917,655.0,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,District,4635,652.0,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,District,4761,650.0,77.07%,80.97%,66.06%,81.22%,53.54%

In [25]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_math_scores,
    "10th Grade": tenth_grader_math_scores,
    "11th Grade": eleventh_grader_math_scores,
    "12th Grade": twelfth_grader_math_scores
})

math_scores_by_grade["9th Grade"] = math_scores_by_grade["9th Grade"].map("{:,.2f}%".format)
math_scores_by_grade["10th Grade"] = math_scores_by_grade["10th Grade"].map("{:,.2f}%".format)
math_scores_by_grade["11th Grade"] = math_scores_by_grade["11th Grade"].map("{:,.2f}%".format)
math_scores_by_grade["12th Grade"] = math_scores_by_grade["12th Grade"].map("{:,.2f}%".format)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                      9th Grade 10th Grade 11th Grade 12th Grade
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

In [26]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_reading_scores,
    "10th Grade": tenth_grader_reading_scores,
    "11th Grade": eleventh_grader_reading_scores,
    "12th Grade": twelfth_grader_reading_scores
})

reading_scores_by_grade["9th Grade"] = reading_scores_by_grade["9th Grade"].map("{:,.2f}%".format)
reading_scores_by_grade["10th Grade"] = reading_scores_by_grade["10th Grade"].map("{:,.2f}%".format)
reading_scores_by_grade["11th Grade"] = reading_scores_by_grade["11th Grade"].map("{:,.2f}%".format)
reading_scores_by_grade["12th Grade"] = reading_scores_by_grade["12th Grade"].map("{:,.2f}%".format)

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                      9th Grade 10th Grade 11th Grade 12th Grade
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

In [27]:
#Create bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [28]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary_df.copy()

school_spending_df

,School Type,Student Count,Per Capita Spending,Average Math Test Score,Average Reading Test Score,Pass Rate Math,Pass Rate Reading,Overall Pass Rate
school_name,,,,,,,,
Bailey High School,District,4976,628.0,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,582.0,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,2949,639.0,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,2739,644.0,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,625.0,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,4635,652.0,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,581.0,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,2917,655.0,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,4761,650.0,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,609.0,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,637.0,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,600.0,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,638.0,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,578.0,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,1800,583.0,83.68%,83.95%,93.33%,96.61%,90.33%

In [29]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Capita Spending"], bins=spending_bins, labels=labels)

In [30]:
school_spending_df["Pass Rate Math"] = school_spending_df["Pass Rate Math"].str.rstrip('%').astype(float)
school_spending_df["Pass Rate Reading"] = school_spending_df["Pass Rate Reading"].str.rstrip('%').astype(float)
school_spending_df["Overall Pass Rate"] = school_spending_df["Overall Pass Rate"].str.rstrip('%').astype(float)

school_spending_df["Average Math Test Score"] = pd.to_numeric(school_spending_df["Average Math Test Score"], errors='coerce')
school_spending_df["Average Reading Test Score"] = pd.to_numeric(school_spending_df["Average Reading Test Score"], errors='coerce')

In [31]:
#  Calculate averages for the desired columns.

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=True)["Average Math Test Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=True)["Average Reading Test Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=True)["Pass Rate Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=True)["Pass Rate Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=True)["Overall Pass Rate"].mean()

In [32]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Test Score": spending_math_scores,
    "Average Reading Test Score": spending_reading_scores,
    "Pass Rate Math": spending_passing_math,
    "Pass Rate Reading": spending_passing_reading,
    "Overall Pass Rate": overall_passing_spending
})


spending_summary["Average Math Test Score"] = spending_summary["Average Math Test Score"].map("{:,.2f}%".format)
spending_summary["Average Reading Test Score"] = spending_summary["Average Reading Test Score"].map("{:,.2f}%".format)
spending_summary["Pass Rate Math"] = spending_summary["Pass Rate Math"].map("{:,.2f}%".format)
spending_summary["Pass Rate Reading"] = spending_summary["Pass Rate Reading"].map("{:,.2f}%".format)
spending_summary["Overall Pass Rate"] = spending_summary["Overall Pass Rate"].map("{:,.2f}%".format)

spending_summary

,Average Math Test Score,Average Reading Test Score,Pass Rate Math,Pass Rate Reading,Overall Pass Rate
Spending Ranges (Per Student),,,,,
<$585,nan%,nan%,93.46%,96.61%,90.37%
$585-630,nan%,nan%,87.13%,92.72%,81.42%
$630-645,nan%,nan%,73.48%,84.39%,62.86%
$645-680,nan%,nan%,66.16%,81.13%,53.53%

In [33]:
per_school_summary = pd.DataFrame(per_school_summary)

In [34]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [35]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["Spending Ranges (Per School)"] = pd.cut(per_school_summary["Student Count"], bins=size_bins, labels=labels)

per_school_summary["Average Math Test Score"] = per_school_summary["Average Math Test Score"].map("{:,.2f}%".format)
per_school_summary["Average Reading Test Score"] = per_school_summary["Average Reading Test Score"].map("{:,.2f}%".format)
per_school_summary["Pass Rate Math"] = per_school_summary["Pass Rate Math"].map("{:,.2f}%".format)
per_school_summary["Pass Rate Reading"] = per_school_summary["Pass Rate Reading"].map("{:,.2f}%".format)
per_school_summary["Overall Pass Rate"] = per_school_summary["Overall Pass Rate"].map("{:,.2f}%".format)


per_school_summary

,School Type,Student Count,Per Capita Spending,Average Math Test Score,Average Reading Test Score,Pass Rate Math,Pass Rate Reading,Overall Pass Rate,Spending Ranges (Per School)
school_name,,,,,,,,,
Bailey High School,District,4976,628.0,77.05%,81.03%,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,Charter,1858,582.0,83.06%,83.98%,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,District,2949,639.0,76.71%,81.16%,65.99%,80.74%,53.20%,Large (2000-5000)
Ford High School,District,2739,644.0,77.10%,80.75%,68.31%,79.30%,54.29%,Large (2000-5000)
Griffin High School,Charter,1468,625.0,83.35%,83.82%,93.39%,97.14%,90.60%,Medium (1000-2000)
Hernandez High School,District,4635,652.0,77.29%,80.93%,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,Charter,427,581.0,83.80%,83.81%,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,District,2917,655.0,76.63%,81.18%,65.68%,81.32%,53.51%,Large (2000-5000)
Johnson High School,District,4761,650.0,77.07%,80.97%,66.06%,81.22%,53.54%,Large (2000-5000)
Pena High School,Charter,962,609.0,83.84%,84.04%,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,District,3999,637.0,76.84%,80.74%,66.37%,80.22%,52.99%,Large (2000-5000)
Shelton High School,Charter,1761,600.0,83.36%,83.73%,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,Charter,1635,638.0,83.42%,83.85%,93.27%,97.31%,90.95%,Medium (1000-2000)
Wilson High School,Charter,2283,578.0,83.27%,83.99%,93.87%,96.54%,90.58%,Large (2000-5000)
Wright High School,Charter,1800,583.0,83.68%,83.95%,93.33%,96.61%,90.33%,Medium (1000-2000)

In [36]:
# Columns to convert
columns_to_convert = [
    'Average Math Test Score', 
    'Average Reading Test Score', 
    'Pass Rate Math', 
    'Pass Rate Reading', 
    'Overall Pass Rate'
]

for column in columns_to_convert:
    per_school_summary[column] = per_school_summary[column].str.rstrip('%').astype(float)

In [37]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["Student Count"])["Average Math Test Score"].mean()
size_reading_scores = per_school_summary.groupby(["Student Count"])["Average Reading Test Score"].mean()
size_passing_math = per_school_summary.groupby(["Student Count"])["Pass Rate Math"].mean()
size_passing_reading = per_school_summary.groupby(["Student Count"])["Pass Rate Reading"].mean()
size_overall_passing = per_school_summary.groupby(["Student Count"])["Overall Pass Rate"].mean()

In [38]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Test Score": size_math_scores,
    "Average Reading Test Score": size_reading_scores,
    "Pass Rate Math": size_passing_math,
    "Pass Rate Reading": size_passing_reading,
    "Overall Pass Rate": size_overall_passing
})

size_summary["Average Math Test Score"] = size_summary["Average Math Test Score"].map("{:,.2f}%".format)
size_summary["Average Reading Test Score"] = size_summary["Average Reading Test Score"].map("{:,.2f}%".format)
size_summary["Pass Rate Math"] = size_summary["Pass Rate Math"].map("{:,.2f}%".format)
size_summary["Pass Rate Reading"] = size_summary["Pass Rate Reading"].map("{:,.2f}%".format)
size_summary["Overall Pass Rate"] = size_summary["Overall Pass Rate"].map("{:,.2f}%".format)

# Display results
size_summary

,Average Math Test Score,Average Reading Test Score,Pass Rate Math,Pass Rate Reading,Overall Pass Rate
Student Count,,,,,
427,83.80%,83.81%,92.51%,96.25%,89.23%
962,83.84%,84.04%,94.59%,95.95%,90.54%
1468,83.35%,83.82%,93.39%,97.14%,90.60%
1635,83.42%,83.85%,93.27%,97.31%,90.95%
1761,83.36%,83.73%,93.87%,95.85%,89.89%
1800,83.68%,83.95%,93.33%,96.61%,90.33%
1858,83.06%,83.98%,94.13%,97.04%,91.33%
2283,83.27%,83.99%,93.87%,96.54%,90.58%
2739,77.10%,80.75%,68.31%,79.30%,54.29%
2917,76.63%,81.18%,65.68%,81.32%,53.51%
2949,76.71%,81.16%,65.99%,80.74%,53.20%
3999,76.84%,80.74%,66.37%,80.22%,52.99%
4635,77.29%,80.93%,66.75%,80.86%,53.53%
4761,77.07%,80.97%,66.06%,81.22%,53.54%
4976,77.05%,81.03%,66.68%,81.93%,54.64%

In [39]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Test Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Test Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Pass Rate Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Pass Rate Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["Overall Pass Rate"].mean()

In [40]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Test Score": average_math_score_by_type,
    "Average Reading Test Score": average_reading_score_by_type,
    "Pass Rate Math": average_percent_passing_math_by_type,
    "Pass Rate Reading": average_percent_passing_reading_by_type,
    "Overall Pass Rate": average_percent_overall_passing_by_type
})

type_summary["Average Math Test Score"] = type_summary["Average Math Test Score"].map("{:,.2f}%".format)
type_summary["Average Reading Test Score"] = type_summary["Average Reading Test Score"].map("{:,.2f}%".format)
type_summary["Pass Rate Math"] = type_summary["Pass Rate Math"].map("{:,.2f}%".format)
type_summary["Pass Rate Reading"] = type_summary["Pass Rate Reading"].map("{:,.2f}%".format)
type_summary["Overall Pass Rate"] = type_summary["Overall Pass Rate"].map("{:,.2f}%".format)

# Display results
type_summary

,Average Math Test Score,Average Reading Test Score,Pass Rate Math,Pass Rate Reading,Overall Pass Rate
School Type,,,,,
Charter,83.47%,83.90%,93.62%,96.59%,90.43%
District,76.96%,80.97%,66.55%,80.80%,53.67%